@charset "UTF-8";
:root {
    --blue: rgb(57, 61, 66);
    --blue-hover: rgb(40, 43, 46);
    --light-blue: rgb(142, 146, 150);
    --green: #db9833;
    --green-hover: #c2862d;
    --green-5: #f7c06f;
    --blue-trans: rgba(89, 103, 123, 0.15);
    --blue-trans-5: rgba(89, 103, 123, 0.05);
    --light-blue-2: rgb(211, 211, 211);
}