@charset "UTF-8";
:root {
    --blue: rgb(28, 120, 215);
    --blue-hover: #1b6cbd;
    --light-blue: #3697f8;
    --green: #00407E;
    --green-hover: rgb(1, 51, 102);
    --green-5: rgb(2, 129, 255);
    --blue-trans: rgba(28, 120, 215, 0.15);
    --blue-trans-5: rgba(28, 120, 215, 0.05);
    --light-blue-2: #F1F7FF;
}