@charset "UTF-8";
:root {
    --blue: rgb(2, 39, 97);
    --blue-hover: #011f4e;
    --light-blue: #72ACFF;
    --green: #39C49B;
    --green-hover: #12a97d;
    --green-5: #39C49B;
    --blue-trans: rgba(2, 39, 97, 0.15);
    --blue-trans-5: rgba(2, 39, 97, 0.05);
    --light-blue-2: #F1F7FF;
}