@charset "UTF-8";
:root {
    --blue: rgb(89, 103, 123);
    --blue-hover: #455161;
    --light-blue: #889db9;
    --green: #fe4345;
    --green-hover: #be3235;
    --green-5: #ffa7a8;
    --blue-trans: rgba(89, 103, 123, 0.15);
    --blue-trans-5: rgba(89, 103, 123, 0.05);
    --light-blue-2: #fff0f2;
}