@charset "UTF-8";
:root {
    --blue: #ffd200;
    --blue-hover: #faaf00;
    --light-blue: rgb(245, 240, 192);
    --green: #159907;
    --green-hover: #02471a;
    --green-5: rgb(0, 196, 137);
    --blue-trans: rgba(255, 246, 114, 0.15);
    --blue-trans-5: rgba(255, 246, 114, 0.05);
    --light-blue-2: rgb(255, 254, 241);
}