@charset "UTF-8";
:root {
    --blue: #1ba666;
    --blue-hover: #128c3a;
    --light-blue: #72ACFF;
    --green: #ff0000;
    --green-hover: #f10000;
    --green-5: #ff6f6f;
    --blue-trans: rgba(27, 166, 102, 0.15);
    --blue-trans-5: rgba(27, 166, 102, 0.05);
    --light-blue-2: #c6ffe4;
}