@charset "UTF-8";
:root {
    --blue: #041f49;
    --blue-hover: #02122c;
    --light-blue: #72ACFF;
    --green: #FF5C75;
    --green-hover: rgb(253, 40, 72);
    --green-5: rgb(252, 136, 153);
    --blue-trans: rgba(4, 31, 73, 0.15);
    --blue-trans-5: rgba(4, 31, 73, 0.05);
    --light-blue-2: #F1F7FF;
}