@charset "UTF-8";
:root {
    --blue: rgb(201, 32, 35);
    --blue-hover: #be3235;
    --light-blue: #fc5c5e;
    --green: #253b8f;
    --green-hover: #081e77;
    --green-5: #6883ec;
    --blue-trans: rgba(233, 60, 63, 0.15);
    --blue-trans-5: rgba(233, 60, 63, 0.05);
    --light-blue-2: rgb(233, 60, 63);
}