@charset "UTF-8";
:root {
    --blue: #0054A6;
    --blue-hover: #00407E;
    --light-blue: #72ACFF;
    --green: #39C49B;
    --green-hover: #12a97d;
    --green-5: #39C49B;
    --blue-trans: rgba(114, 172, 255, 0.15);
    --blue-trans-5: rgba(114, 172, 255, 0.05);
    --light-blue-2: #F1F7FF;
}