@charset "UTF-8";
:root {
    --blue: #c81831;
    --blue-hover: #9b1227;
    --light-blue: #f83b4f;
    --green: #ad0000;
    --green-hover: #9E0000;
    --green-5: rgb(41, 40, 40);
    --blue-trans: rgba(200, 24, 49, 0.15);
    --blue-trans-5: rgba(200, 24, 49, 0.05);
    --light-blue-2: #fff0f2;
}

/* Antiguo */
/* :root {
    --blue: #9E0000;
    --blue-hover: #707070;
    --light-blue: #f83b4f;
    --green: #c81831;
    --green-hover: #F83B4F;
    --green-5: #FF5C75;
    --blue-trans: rgba(248, 59, 79, 0.15);
    --blue-trans-5: rgba(248, 59, 79, 0.05);
    --light-blue-2: #fff0f2;
} */