@charset "UTF-8";
:root {
    --blue: #0054A6;
    --blue-hover: #00407E;
    --light-blue: #72ACFF;
    --green: rgb(224, 21, 82);
    --green-hover: rgb(180, 9, 60);
    --green-5: rgb(243, 66, 119);
    --blue-trans: rgba(114, 172, 255, 0.15);
    --blue-trans-5: rgba(114, 172, 255, 0.05);
    --light-blue-2: #F1F7FF;
}