<template>
    <div>
        <div>
            <Header></Header>
        </div>
        <div>
            <Footer></Footer>
        </div>
    </div>
</template>

<script>
import Header from './Header'
import Footer from './Footer'

export default {
    components: { 
        Header,
        Footer
    },
}
</script>

<style>


</style>