<template>
  <div>
    <footer id=footer-main>
      <div class="footer">
        <div class=container>
          <div class="row align-items-center justify-content-md-between py-3 mx-0">
            <div class="w-60">
              <div class="copyright lh-130 text-sm font-weight-bold text-md-left">
                Copyright © 2010 - {{ currentYear() }} MCETS INC (MotorCoach eTicket Solutions)<br>
                Quatrobus 4.0 - Desarrollado por <a href=http://mcets-inc.com class=font-weight-bold target=_blank>MCeTS Inc.</a>
              </div>
            </div>
            <div class=w-40>
              <a class="desarrollado-por-mcets" target="_blank" href="http://www.mcets-inc.com">
                <img alt="Desarrollado por MCeTS" src="../assets/img/desarrollado-por-mcets.svg" class="footer-logo" /> 
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
    

    methods: {
        currentYear() {
            return new Date().getFullYear()
        }
    }
}
</script>

<style>

</style>